
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

nav {
    position: relative;
    right: 0;
}

#navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
    padding: 6rem 8.5rem;
}

#navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

#navbar-items a {
   color: rgb(14, 13, 13);
   font-weight: bold;
   text-decoration: none;
   transition: 0.4s;
}

#navbar-items a:hover {
   background-color: #4cafa7 ; 
   color: white; 
}

.btn {
    padding: 15px 30px;
    background-color: #4caf86;
    border-radius: 5px;

}
#img {
   width: 100%;
   height: 380px;
   position: relative; /* Cria um contexto de posicionamento para o texto */
   display: inline-block;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

form {
    position: absolute;
    width: 800px;
    height: 550px;
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    margin-top: -130px;
    margin-left: 550px;  
    background-color: white;
    /* Para ver as bordas do formulário */
    padding: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}

form div {
    /*para deixae o form em coluna */
    margin-top: 1em;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

label {
  text-align: left;
}

input { 
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;   
}

#mensagem input {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

form div btnSubmit  {
    display: flex;
    justify-content: center;
    align-items: center;

}

#btnSubmit {
   padding: auto;
   background-color: #4caf86;
   color: rgb(14, 13, 13);
   font-weight: bold;
   width: 300px;
   height: 50px;
   font-size: 25px;  
   text-decoration: none;
   border: none; 
   border-radius: 10px; 
   cursor: pointer;
   display: flex;
   justify-content: center;
   text-align: center;
   margin: 0 auto;   
   opacity: 0.9;
   transition: 0.4s;
}

#btnSubmit:hover {
  background-color: #4cafa7 ; /* Cor de fundo ao passar o mouse */
  color: white;
}


/*responsividade */
/*smal laptops a partir de 1100px */
@media (max-width: 1100px) {
    img {
      width: 100%;
    }
}

/* tablet 900px */
@media (max-width: 900px) {
    img {
      width: 100%;
    }

    form {  
        width: 80%;
        margin-left: 10%;
        
    }
}

/* celular 576px */
@media (max-width: 576px) {
    #container {
        width: 100%;
    }

    #navbar-items {
        width: auto;
    }

    #navbar-container ul {
        padding: 1rem 7.5rem; 
    }

}

@media (max-width: 450px) {
    html, body {
        margin: 0;
        margin-bottom: 200px;
        padding: 0;
        overflow: hidden;
    }

    #container {
        width: 100%;
    }

    #img {
        width: 100%;
    }

    #navbar-container {
        width: 100%;   
    }
    #navbar-container ul {
        margin-left: 0;
        padding: 1rem 2rem;
        padding-left: 0;
        padding-right: 50px;
    }
    #navbar-items {
        margin-top: 100px;   
    }

    li {
        padding: auto;
    }


    #form {
        width: 95%;
        margin-left: 5%;
    }
    
    label {
        margin-left: 5%;
    }

    input {
        width: 100%;
    }

    #btnSubmit {
        width: 85%;
    }
    
}

