<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>
<body>
    
    <div id="container">
        <div id="navbar-container">
            <nav>    
                <img id="img" src="{{ url_for('static', filename='img/hdchostlogo.png') }}">
                <ul id="navbar-items">
                    <li>
                       <a id="contato" href="{{ url_for('contato') }}" class="btn">Contato</a>
                    </li>  
                    <li>
                       <a href="{{ url_for('homepage') }}" class="btn">Entrar</a>
                    </li>  
                </ul>
            </nav>
        </div>
    </div>
   
    <div id="userCad">
        <form id="form" method="post">
            <h3>Cadastro de Usuários</h3>
            {{form.csrf_token}}
            <div class="nome">
                {{form.nome.label}}
                {{form.nome}}
                
                {{form.sobrenome.label}}
                {{form.sobrenome}}
            </div>    
            <br>
            <div class="email">
                {{form.email.label}}
                {{form.email}}
            </div>
            <br>
            <div class="senha">
                {{form.senha.label}}
                {{form.senha}}
            <br>
                {{form.confirmacao_senha.label}}
                {{form.confirmacao_senha}}
            </div>
            <br>
            <br>
            <div id="btnSubmit">
                 {{form.btnSubmit}}
            </div> 
        </form>
    </div>
    <footer id="footer">
        <a target="_blank" rel="noopener" href="https://www.google.com/?hl=pt_BR">
            <img loading="lazy" class="footseg" alt="Google - Site Seguro" title="Google - Site Seguro" 
            src="https://img.terabyteshop.com.br/selos/google-site-seguro.png" width="90" height="25">
        </a>
    </footer>
</body>
</html>