<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="../static/css/contato.css">
</head>
<body>
  <!--
  <img id="img" src="{{ url_for('static', filename='img/frasco-de-vidro.jpg') }}">

  <a href="{{ url_for('homepage') }}" class="login">Home</a>

  <a href="{{ url_for('cadastro') }}" class="cadastro">cadastro</a>
    <div>
  -->  
  <div id="container">
        <div id="navbar-container">
            <nav>    
                <img id="img" src="{{ url_for('static', filename='img/flask.png') }}">
                <ul id="navbar-items">
                    <li>
                       <a href="{{ url_for('cadastro') }}" class="btn">cadastro</a>
                    </li>  
                    <li>
                       <a href="{{ url_for('homepage') }}" class="btn">Entrar</a>
                    </li>
                   
                </ul>
            </nav>
        </div>
    </div>     
  
        <form method="post">
          <h3>Contato</h3>

            {{form.csrf_token}}
            <div id="nome">
              {{form.nome.label}}
              {{form.nome}}
            </div>
            <br>
            <div id="email">
              {{form.email.label}}
              {{form.email}}
            </div>
            <br>
            <div id="assunto">
              {{form.assunto.label}}
              {{form.assunto}}
            </div>
            <br>
            <div id="mensagem">
              {{form.mensagem.label}}
              {{form.mensagem}}
            </div>
            <br>
            <br>
            <div id="btnSubmit">
              {{form.btnSubmit}}
            </div>               
        </form>
    </div>
    <footer id="footer">
      <a target="_blank" rel="noopener" href="https://www.google.com/?hl=pt_BR">
        <img loading="lazy" class="footseg" alt="Google - Site Seguro" title="Google - Site Seguro" 
           src="https://img.terabyteshop.com.br/selos/google-site-seguro.png" width="90" height="25">
      </a>
    </footer>
</body>
</html>